<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<!--::meta::-->
  	<!--::javascript::-->
      <title><!--::title::--></title>
      <link rel='stylesheet' href='/admin/style.css' />
  </head>
  <body>
      <div id="topBar">
		  <h1><!--::title::--></h1>
		  <p><a href='manage_links.php'>Manage Links</a> | <a href='manage_channels.php'>Manage Channels</a> </p>
      </div>
      <div id='main'>
        <!--::content::-->
      </div>
  </body>
</html>