# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on
#RewriteBase www.webservicesone.net
RewriteBase /php/php/api_rest/ejemplo7/
#RewriteBase /

# map neat URL to internal URL
# RewriteRule ^mobile/list/$            RestController.php?view=all [nc,qsa]
# RewriteRule ^mobile/list/([0-9]+)/$   RestController.php?view=single&id=$1 [nc,qsa]

RewriteRule ^mobile/list/$              index.php?view=all [nc,qsa]
RewriteRule ^mobile/list/([0-9]+)/$     index.php?view=single&id=$1 [nc,qsa]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php