<IfModule mod_rewrite.c>
    #Options +FollowSymLinks
    RewriteEngine On
    #RewriteBase /
    #RewriteRule   /ejemplo4/^.*$    /ejemplo4/final.php/clientes  [R]
    RewriteRule ^ejemplo4.*$     http://www.reswirteejemplos.net/ejemplo1/ [R=301,L]
</IfModule>
