html, *{}

body{
   font-family:Verdana,Geneva,Arial,sans-serif;
   font-size:0.8em; font-weight:normal; text-decoration: none; color:#000066;
   margin:0;padding:0;
}

pre{font-family:Courier,sans-serif;font-size: 10px;}

A{color:#000066}
A:visited {color:#000066}
A:active {color:#000066}
A:hover {color:#000066; text-decoration:underline}

br{clear: left;}

#status{
   border: 1px solid #ccc;
   padding: 1em;
   margin: 1em;
}

#error{
   border: 1px solid #ccc;
   padding: 1em;
   color: #ff0000;
   margin: 1em;
   background: #ffffdd;
}

#admin{
   padding: 1em;
   color: #ff0000;
   margin: 1em;
}

#forms{
   border: 1px solid #ccc;
   padding: 1em;
   margin: 1em;
}

hr{
      border-bottom: 1px solid #6A8592;
      border-top: none;
      border-left: none;
      border-right: none;
      height: 1px;
      text-align: left;
      margin-top: 1em;
      margin-bottom: 1em;
      clear: left;
}


h1{
   font-size: font-size: 135%;padding-top: 0em;
}

#main{clear:left;margin-top: 3em;font-size: 90%;padding-left: 2em;}

#debug{color: #999;font-size: 80%;}

form{
   width: 27%;float:left;margin-left: 1em;
   margin-bottom: 1em;
   border: 1px solid #ccc;
   padding: 1em;
   height: 240px;
   -moz-border-radius: 5px;
}

#admin{
   padding: 1em;
   color: #ff0000;
   margin: 1em;
   clear:both;
}

h3{
   margin-top: 0;
}

select{
   width: 150px;
}

label{
   width: 25%;
   float:left;
   margin-top: 1%;
   margin-bottom: 1em;   
}

#topBar{padding: 10px 10px 0 10px;background: #6A8592; color: #ffffff;height: 64px;}
#topBar h1{margin: 0;}
#topBar p{float: right; width: 40%;font-size: 80%;}

.error{color: #A90202;font-weight: bold;}

.input{
   width: 70%;
   border: 1px solid #0144AB;
   color: #0144AB;
   margin-top: 1%;
   margin-bottom: 1em;
   float: left;
}

.loginform{border: none;}

#menu{
   float: left;
   width: 55%;   
}

#menu ul{
   height: 18px;
   top: 39px;
   position: absolute;
   padding: 3px 0;
   margin: 0;
   margin-top: 1em;
}

#menu ul li{
    list-style: none;
    margin: 0;
    padding: 2px;
    display: inline;
    background: #dddddd;
    color: #303030;
    -moz-border-radius: 5px 5px 0 0;
    border: 1px solid #6A8592;
    line-height: 12px;
}
#menu .current{background: #ffffff;border-bottom: 1px solid #ffffff;}

#menu ul li a{text-decoration: none;font-size: 11px;padding: 3px;}
#menu ul li a:hover{text-decoration: underline;}

.editorForm{width: 90%;height: 430px;}
.editorForm textarea{width: 90%; height: 200px;}
.editorForm .title{width: 65%;}
.editorForm .short{height: 60px;}
.editorForm hr{margin-top: 5px;margin-bottom: 5px;}


#blogListing ul{   
   list-style-type: none;
   margin:0;padding:0;
   margin-top: 10px;
   border: 1px solid #6A8592;
   -moz-border-radius: 5px;
   width: 90%;
}

#blogListing ul li{ 
   list-style-image: none;
   padding: 5px;
   border-bottom: 1px solid #6A8592;
   clear: left;
   line-height: 1.2em;
}

#blogListing .date{width: 17%;float: left;color: #666666;}
#blogListing .title{width: 35%;float: left;}
#blogListing .author{width: 10%;float: left;}
#blogListing .link{width: 20%;float: left;}
#blogListing .status{width: 6%;float: left;}
#blogListing .img{width: 24px; height: 24px; float: left;margin: 0; padding: 0;}
#blogListing br{clear: left;line-height: 1.2em;}
#blogListing .url{width: 25%;float: left;overflow: none;}

.th{font-weight: bold;}
